<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Pizza Details</title>
</head>
<body>
<main class="container">
<!-- Attributi: pizza(Pizza) -->
    <section>
<div class="container text-center">
    <div class="row">
        <div class="col-12">
            <img class="w-25 mt-3" th:src="@{${pizza.photo}}" >
        </div>
        <div class="col-12 mt-3">
            <h1 class="text-center" th:text="${pizza.name}"></h1>
            <p class="text-center" th:text="${pizza.description}"></p>
            <p class="text-center" th:text="${pizza.price} + €"> </p>
        </div>
    </div>
    <div>
        <a th:href="@{/pizza}">Torna alla lista</a>
    </div>
</div>
    </section>
    <section class="mt-5">
        <h3>
            <span>Offerte</span>
            <a th:href="@{/offerte/create(pizzaId=${pizza.id})}" class="btn btn-primary">+</a>
        </h3>
        <table class="table" th:if="${pizza.offerte.size() > 0}">
            <thead>
            <tr>
                <th>Data inizio</th>
                <th>Data fine</th>
                <th>Titolo</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ofr : ${pizza.offerte}">
                <td th:text="${ofr.dataInizio}" th:classappend="${ofr.isExpired ? 'table-danger' : 'table-success'}"></td>
                <td th:text="${ofr.dataFine}" th:classappend="${ofr.isExpired ? 'table-danger' : 'table-success'}"></td>
                <td th:text="${ofr.titoloOfferta}" th:classappend="${ofr.isExpired ? 'table-danger' : 'table-success'}"></td>
                <td class="d-flex justify-content-around">
                    <a class="btn btn-primary" th:href="@{/offerte/edit/{id}(id = ${ofr.id})}"><i
                            class="fa-solid fa-pen-to-square"></i></a>
                    <form
                            th:action="@{/offerte/delete/{id}(id = ${ofr.id})}"
                            method="post"
                            onsubmit="return confirm('Are you sure?')"
                    >
                        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-trash-can"></i></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="alert alert-info" th:unless="${pizza.offerte.size() > 0}">
            Non ci sono offerte per questa pizza
        </div>
    </section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</main>
</body>
</html>